.img-myself {
  width:80%;
  padding: 0px 0px 30px 0px;
  margin-left: 5%;
}
hr {
  width: 100%;
  border-top: 2px solid #8FB7AE;
  clear: both;
}

header {
  color: #8FB7AE;
}
.navbar-left {
  float: left;
  margin-left: 5%;
  margin-top: 9px;
}
.navbar-right {
  float: right;
  margin-top: 18px;
  margin-right: 5%;
}

h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box {
  border: 6px solid royalblue;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightblue;
  margin-left: -10px;
  margin-right: -10px;
  box-sizing: border-box;
}
.container-projects {
  background-color:#e9ecef;
  padding: 30px;
  margin-left: -10px;
  margin-right: -10px;
  border: 6px solid gray;
  box-sizing: border-box;
}

footer {
  background-color:  #8FB7AE;
  height: 70px;
  margin-top: 60px;
}

@media (max-width: 768px) {
  h1.navbar-left, h2.navbar-right {
    font-size: 22px;
    margin-top: 14px;
  }
}